
<div class="container">

<%
  @games_stat = GamesStat.where(player_id: @player.id).order(:created_at).pluck(Arel.sql('created_at, printf("%.2f", 1.0*total_points / total_darts)'))
%>
<%= line_chart @games_stat %>


<% players_list = Player.all %>
<% @data_for_chart = players_list.map do |player|
  { name: player.name, data: GamesStat.where(player_id: player.id).order(:created_at).pluck(Arel.sql('created_at, printf("%.2f", 1.0*total_points / total_darts)')) }
end %>
<%= line_chart @data_for_chart  %>

<p>
  <strong>Имя:</strong>
  <%= @player.name %>
</p>
<p>
  <% if player_stat = PlayerStat.where(player_id: @player.id) %>
    <% fav_sector = Array.new %>
    <% fav_sector_count = 0 %>
    <% player_stat.each do |some_stat| %>
      <% case some_stat[:stat_code] %>
        <% when "1dart_sum" %>
          <% @dart1_sum = some_stat[:stat_value] %>
        <% when "2dart_sum" %>
          <% @dart2_sum = some_stat[:stat_value] %>
        <% when "3dart_sum" %>
          <% @dart3_sum = some_stat[:stat_value] %>
        <% when "1dart_miss" %>
          <% @dart1_miss = some_stat[:stat_value] %>
        <% when "2dart_miss" %>
          <% @dart2_miss = some_stat[:stat_value] %>
        <% when "3dart_miss" %>
          <% @dart3_miss = some_stat[:stat_value] %>
        <% when "1dart_throw" %>
          <% @dart1_throw = some_stat[:stat_value] %>
        <% when "2dart_throw" %>
          <% @dart2_throw = some_stat[:stat_value] %>
        <% when "3dart_throw" %>
          <% @dart3_throw = some_stat[:stat_value] %>
        <% when "max_points" %>
          <% @max_points = some_stat[:stat_value] %>
        <% when "points_60-99" %>
          <% @points_60_99 = some_stat[:stat_value] %>
        <% when "points_100-139" %>
          <% @points_100_139 = some_stat[:stat_value] %>
        <% when "points_140-179" %>
          <% @points_140_179 = some_stat[:stat_value] %>
        <% when "points_180" %>
          <% @points_180 = some_stat[:stat_value] %>
        <% when /^sector_(.*)/ %>
          <% if some_stat[:stat_value] > fav_sector_count %>
            <% fav_sector = [$1] %>
            <% fav_sector_count = some_stat[:stat_value] %>
          <% elsif some_stat[:stat_value] == fav_sector_count %>
            <% fav_sector.push($1) %>
          <% end %>
        <%
          when "num_legs"
            @num_legs = some_stat[:stat_value]
          when "num_legs_won"
            @num_legs_won = some_stat[:stat_value]
          when "num_sets"
            @num_sets = some_stat[:stat_value]
          when "num_sets_won"
            @num_sets_won = some_stat[:stat_value]
          when "checkout_total"
            @checkout_total = some_stat[:stat_value]
          when "checkout_success"
            @checkout_success = some_stat[:stat_value]
          when "checkout_maximum"
            @checkout_maximum = some_stat[:stat_value]
          when "checkout_sum"
            @checkout_sum = some_stat[:stat_value]
        %>
      <% end %>
    <% end %>
  <% end %>

<div class="col-6">
  <table class="table table-striped table-sm text-right" style="margin: 0px auto;">
    <caption style="caption-side: top; font-weight: bold;">Статистика по партиям/матчам</caption>
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>победа</th>
        <th>поражение</th>
        <th>ничья</th>
        <th>всего</th>
      </tr>
    </thead>
    <tbody>
      <% if @num_legs != 0 %>
      <tr>
        <td>
          партий
        </td>
        <td>
          <%= sprintf('%d (%d%%)', @num_legs_won, 100.0 * @num_legs_won / @num_legs) %>
        </td>
        <td>
          <%= sprintf('%d (%d%%)', @num_legs - @num_legs_won, 100.0 * (@num_legs - @num_legs_won) / @num_legs) %>
        </td>
        <td>
        </td>
        <td>
          <%= @num_legs %>
        </td>
      </tr>
      <tr>
        <td>
          матчей
        </td>
        <td>
          <%= sprintf('%d (%d%%)', @num_sets_won, 100.0 * @num_sets_won / @num_legs) %>
        </td>
        <td>
          <%= sprintf('%d (%d%%)', @num_sets - @num_legs_won, 100.0 * (@num_sets - @num_legs_won) / @num_sets) %>
        </td>
        <td>
        </td>
        <td>
          <%= @num_legs %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-striped table-sm text-right" style="margin: 0px auto;">
    <caption style="caption-side: top; font-weight: bold;">Статистика по дротикам</caption>
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>бросков</th>
        <th>очков</th>
        <th>промахов</th>
        <th>среднее</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-right">
          1
        </td>
        <td>
          <%= @dart1_throw %>
        </td>
        <td>
          <%= @dart1_sum %>
        </td>
        <td>
          <%= @dart1_miss %>
        </td>
        <td>
          <%= sprintf('%.2f', 1.0 * @dart1_sum / @dart1_throw) %>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          2
        </td>
        <td>
          <%= @dart2_throw %>
        </td>
        <td>
          <%= @dart2_sum %>
        </td>
        <td>
          <%= @dart2_miss %>
        </td>
        <td>
          <%= sprintf('%.2f', 1.0 * @dart2_sum / @dart2_throw) %>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          3
        </td>
        <td>
          <%= @dart3_throw %>
        </td>
        <td>
          <%= @dart3_sum %>
        </td>
        <td>
          <%= @dart3_miss %>
        </td>
        <td>
          <%= sprintf('%.2f', 1.0 * @dart3_sum / @dart3_throw) %>
        </td>
      </tr>

      <tfoot class="font-weight-bold">
        <tr>
          <td>
            всего
          </td>
          <td>
            <%= @dart1_throw + @dart2_throw + @dart3_throw %>
          </td>
          <td>
            <%= @dart1_sum + @dart2_sum + @dart3_sum %>
          </td>
          <td>
            <%= @dart1_miss + @dart2_miss + @dart3_miss %>
          </td>
          <td>
            <%= sprintf('%.2f', 1.0 * (@dart1_sum + @dart2_sum + @dart3_sum) / (@dart1_throw + @dart2_throw + @dart3_throw)) %>
          </td>
        </tr>
      </tfoot>
    </tbody>
  </table>

  <table class="table table-striped table-sm text-right" style="margin: 0px auto;">
    <caption style="caption-side: top; font-weight: bold;">Статистика по набранным очкам</caption>
    <thead class="thead-dark">
      <tr>
        <th class="w-75"></th>
        <th class="w-25"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="right">
          в среднем с одного дротика:
        </td>
        <td align="left">
          <%= sprintf('%.2f', 1.0 * (@dart1_sum + @dart2_sum + @dart3_sum) / (@dart1_throw + @dart2_throw + @dart3_throw)) %>
        </td>
      </tr>
      <tr>
        <td align="right">
          в среднем с трех дротиков:
        </td>
        <td align="left">
          <%= sprintf('%.2f', 3.0 * (@dart1_sum + @dart2_sum + @dart3_sum) / (@dart1_throw + @dart2_throw + @dart3_throw))  %>
        </td>
      </tr>
      <tr>
        <td align="right">
          любимые сектора:
        </td>
        <td align="left">
          <%= fav_sector.join(' ') %>
        </td>
      </tr>
      <tr>
        <td align="right">
          максимальное кол-во очков за подход:
        </td>
        <td align="left">
          <%= @max_points %>
        </td>
      </tr>
      <tr>
        <td align="right">
          60 &rarr; 99:
        </td>
        <td align="left">
          <%= @points_60_99 %>
        </td>
      </tr>
      <tr>
        <td align="right">
          100 &rarr; 139:
        </td>
        <td align="left">
          <%= @points_100_139 %>
        </td>
      </tr>
      <tr>
        <td align="right">
          140 &rarr; 179:
        </td>
        <td align="left">
          <%= @points_140_179 %>
        </td>
      </tr>
      <tr>
        <td align="right">
          180:
        </td>
        <td align="left">
          <%= @points_180 %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-sm text-right" style="margin: 0px auto;">
    <caption style="caption-side: top; font-weight: bold;">Статистика по закрытиям</caption>
    <thead class="thead-dark">
      <tr>
        <th class="w-75"></th>
        <th class="w-25"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="right">
          всего попыток:
        </td>
        <td align="left">
          <%= @checkout_total %>
        </td>
      </tr>
      <tr>
        <td align="right">
          успешных:
        </td>
        <td align="left">
          <%= @checkout_success %>
        </td>
      </tr>
      <tr>
        <td align="right">
          процент успешных закрытий:
        </td>
        <td align="left">
          <%= sprintf('%.2f', 100.0 * @checkout_success / @checkout_total) %>
        </td>
      </tr>
      <tr>
        <td align="right">
          средний checkout:
        </td>
        <td align="left">
          <%= sprintf('%.2f', 1.0 * @checkout_sum / @checkout_success) %>
        </td>
      </tr>
      <tr>
        <td align="right">
          максимальный checkout:
        </td>
        <td align="left">
          <%= @checkout_maximum %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-sm text-right" style="margin: 0px auto;">
    <caption style="caption-side: top; font-weight: bold;">Статистика по дротикам на партию</caption>
    <thead class="thead-dark">
      <tr>
        <th class="w-75"></th>
        <th class="w-25"></th>
      </tr>
    </thead>
    <tbody>
    <%
    @darts_stat = Game
      .where(player_won: @player.id)
      .joins('LEFT JOIN games_stats ON games_stats.game_id == games.id and games_stats.player_id == games.player_won')
      .pluck(Arel.sql('min(total_darts), max(total_darts), avg(total_darts)'))
    if @darts_stat %>
      <tr>
        <td align="right">
          минимум:
        </td>
        <td align="left">
          <%= @darts_stat[0][0] %>
        </td>
      </tr>
      <tr>
        <td align="right">
          максимум:
        </td>
        <td align="left">
          <%= @darts_stat[0][1] %>
        </td>
      </tr>
      <tr>
        <td align="right">
          среднее:
        </td>
        <td align="left">
          <%= sprintf('%.2f', @darts_stat[0][2].to_f) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</p>




<div id='darts_board'>
  <%= image_tag("winmau_blade_5.jpg", id: 'darts_board', size: "750x750", class: "align-self-start mr-3") %>
</div>
<div>
  <input type="checkbox" id="miss_matter" name="feature" value="miss_matter" onclick="draw_heatmap()" checked />
  <label for="miss_matter">С учетом промахов</label>
</div>

<%= link_to 'Назад', players_path %>

</div>

<script type="text/javascript">
  function draw_heatmap() {
    var miss_mater = 0;
    if (document.getElementById("miss_matter").checked) {
      miss_matter = 1
    };


    var heatmapInstance=h337.create({
      container: document.getElementById('darts_board')
    });

    $.ajax({
              type: "GET",
              url: "/stats/heatmap",
              data: {id: <%= @player.id %>, miss_matter: miss_matter},
              async: true,
              dataType: "json",
              success: function(response) {
                heatmapInstance.setData(response);
              },
              error: function () {
                alert("error");
              }
           });
  }
</script>
